.noAchoholText {
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.allTextSelected {
    color: #9747FF;
    text-decoration: underline;
}
.withAchoholTextSelected {
    color: #9747FF;
    text-decoration: underline;
}
.noAchoholTextSelected {
    border-left: 1px solid black;
    border-right: 1px solid black;
    color: #9747FF;
    text-decoration: underline;
}